{% load myTag %} <!--加载自定义filter-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .first{
            color: red;
        }
    </style>
</head>
<body>
{#<h1>hello {{ l.1 }}</h1>#}
{#<h1>hello {{ l.2 }}</h1>#}
{#<h1>hello {{ d.name }}</h1>#}
{#<h1>hello {{ d.age }}</h1>#}
{#<h1>hello {{ d.sex }}</h1>#}
{#<hr/>#}
{#{% if d.age < 20 %}#}
{#    <h1>{{ d.name }}的年龄小于20</h1>#}
{#{% elif d.age > 20 %}#}
{#    <h1>{{ d.name }}的年龄大于20</h1>#}
{#{% else %}#}
{#    <h1>{{ d.name }}的年龄不符合要求</h1>#}
{#{% endif %}#}
{#<hr/>#}
{#{% for name in l %}#}
{#    <!--forloop.counter从1开始-->#}
{#    <h1>{{ forloop.counter }}:{{ name }}</h1>#}
{#    <!--forloop.counter从0开始-->#}
{#    <h1>{{ forloop.counter0 }}:{{ name }}</h1>#}
{#    <!--forloop.counter从倒序-->#}
{#    <h1>{{ forloop.revcounter }}:{{ name }}</h1>#}
{#    <h1>{{ forloop.revcounter0 }}:{{ name }}</h1>#}
{#{% endfor %}#}
{#<!--对第一个元素添加first样式(变红)-->#}
{#{% for name in l %}#}
{#    {% if forloop.first %}#}
{#        <li class="first">#}
{#            {% else %}#}
{#        <li>#}
{#    {% endif %}#}
{#{{ name }}#}
{#</li>#}
{#    <!--当l为空列表时，就会显示没有相关文章-->#}
{#{% empty %}#}
{#    <h1>没有相关文章</h1>#}
{#{% endfor %}#}
<!--使用url中别名-->
<form action="{% url 'login' %}" method="post">
    <p>姓名<input type="text" name="user"></p>
    <p>密码<input type="password" name="pwd"></p>
    <p><input type="submit" value="提交"></p>
    {% csrf_token %}
</form>
<!--以下为自定义filter-->
<p>{{ d.age }}</p>
<p>{{ d.age|filter_multi:3 }}</p> <!--自定义filter d.age*3-->
<p>{% simple_tag_multi d.age 5 6 7 %}</p> <!--自定义tag d.age*5*6*7-->
<!--filter与tag都是实现自定义template，而前者传一个值，后者可传多个值,tag不能用在控制语句中，即控制语句中必须只能用filter-->

</body>
</html>